<a href="https://colab.research.google.com/github/MountainFishCheng/MountainFishCheng/blob/main/ML00102_%E9%90%B5%E9%81%94%E5%B0%BC%E8%99%9F%E7%94%9F%E5%AD%98%E9%A0%90%E6%B8%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, linear_model
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 原始資料
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/TQC+/data/titanic.csv")
df.head()

,PassengerId,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0

In [ ]:
df.info()
# 7 columns: PassengerId / Name	/ PClass	/ Age	/ Sex	/ Survived	/ SexCode

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1313 non-null   int64
 1   Name         1313 non-null   object
 2   PClass       1313 non-null   object
 3   Age          756 non-null    float64
 4   Sex          1313 non-null   object
 5   Survived     1313 non-null   int64
 6   SexCode      1313 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 71.9+ KB

In [ ]:
df.isnull().sum() #查看缺失值數量

PassengerId      0
Name             0
PClass           0
Age            557
Sex              0
Survived         0
SexCode          0
dtype: int64

In [ ]:
# TODO
# 將年齡的空值填入年齡的中位數

age_median = df.Age.median()
print(f"年齡中位數={age_median:.0f}")
df.Age.fillna(age_median,inplace=True)

年齡中位數=28

<ipython-input-8-a1bff1471509>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Age.fillna(age_median,inplace=True)

In [ ]:
# 再次檢查缺失值
df.isnull().sum()

PassengerId    0
Name           0
PClass         0
Age            0
Sex            0
Survived       0
SexCode        0
dtype: int64

In [ ]:

# TODO

# 轉換欄位值成為數值
# X = PClass	/ Age	/ SexCode
# PClass object -> values
le = preprocessing.LabelEncoder()
df.PClass = le.fit_transform(df.PClass)
df.PClass.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1313 entries, 0 to 1312
Series name: PClass
Non-Null Count  Dtype
--------------  -----
1313 non-null   int64
dtypes: int64(1)
memory usage: 10.4 KB

In [ ]:
X = df.loc[:,['PClass','Age','SexCode']]
y = df.loc[:,['Survived']]

In [ ]:
# 建立模型

model = linear_model.LogisticRegression()
model.fit(X, y)
intercept = model.intercept_
coef = model.coef_

print(f"截距intercept={intercept[0]:.4f}")
print(f"SexCode迴歸係數coef={coef[0][2]:.4f}")

截距intercept=1.9987
SexCode迴歸係數coef=2.3836

/usr/local/lib/python3.11/dist-packages/sklearn/utils/validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# 計算出accuracy
accuracy = model.score(X, y)
print(f"Accuracy={accuracy:.4f}")

Accuracy=0.8149